$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

@mixin mobile {
    @media screen and (max-width: $sm) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $lg) {
        @content;
    }
}
